# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
.env

# Anaconda / Environments
.conda/
env/

# Data & Models (Los manejaremos con DVC más adelante)
data/raw/*
data/processed/*
models/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!models/.gitkeep

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db